.box{
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}

.box1 {background: red; font-size: 30px;}
.box2 {background: green; font-size: 60px;}
.box3 {background: yellow; font-size: 90px;}
.box4 {background: brown; font-size: 120px;}
.box5 {background: orange; font-size: 160px;}
.box6 {background: purple; font-size: 180px;}
.box7 {background: black; font-size: 160px;}
.box8 {background: magenta; font-size: 120px;}
.box9 {background: silver; font-size: 90px;}
.box10 {background: teal; font-size: 60px;}


.container{
    display: flex;
    height: 650px;
    align-items: baseline;
}